{% load static %}
<!DOCTYPE html>
<html lang="uz">'
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>OsonTopshir</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Tailwind CDN (MVP uchun) -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-gray-50 text-gray-900">

    {% include "partials/header.html" %}

    <main class="min-h-[calc(100vh-160px)]">
        {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}

</body>
</html>
